# Exclude: everything
*

# Include: application files
!cumplo_spotter

# Include: build files
!pyproject.toml
!poetry.toml
!poetry.lock

# Include: miscelaneous files
!entrypoint.sh

# Include: credentials
!cumplo_spotter_credentials.json
!cumplo_pypi_credentials.json
