[MAIN]

py-version=3.11
init-hook='import sys; sys.path.append("./")'

disable=
  logging-fstring-interpolation,
  missing-module-docstring,
  missing-class-docstring,
  too-few-public-methods,
  no-name-in-module,
  missing-timeout

load-plugins=
  pylint.extensions.redefined_variable_type,
  pylint.extensions.check_elif,
  pylint.extensions.code_style,
  pylint.extensions.typing,

[FORMAT]

max-line-length=120
